<h1 class="mycart">MyCart</h1>

<div class="table-body" *ngFor="let item of cartItem">
  <div class="table-details">
    <div><b>Product Name : </b>{{ item.name }}</div>
    <div class="quantity">
      <b>Quantity : </b>
      <button (click)="decrement(item)">-</button>
      {{ item.quantity }}
      <button (click)="increment(item)">+</button>
    </div>
    <div><b>Price : </b>{{ item.price | currency: "INR" }}</div>
    <div>
      <b>Total Price : </b>{{ item.quantity * item.price | currency: "INR" }}
    </div>
  </div>
  <div class="action">
    <button class="delete" (click)="productToDelete(item.id)">Delete</button>
    <button class="edit" (click)="editModel(item)">Edit</button>
  </div>
</div>
<div class="total">
  Total Amount : {{ cartItem | overAllTotal | currency: "INR" }}
</div>
<button class="more-shopping-btn" (click)="onClick()">
  More Shopping
</button>

<div *ngIf="showEdit" class="edit-model">
  <div class="model-container">
  <form #Edit="ngForm">
    <div class="form-group">
    <b>Name:</b><input
      type="text"
      class="form-control"
      name="name"
      value={{productToUpdate.name}}
      [(ngModel)]="productToUpdate.name"
    />
  </div>
  <div class="form-group">
    <b>Quantity:</b><input
      type="number"
      class="form-control"
      name="quantity"
      value={{productToUpdate.quantity}}
      [(ngModel)]="productToUpdate.quantity"
    />
  </div>
  <div class="form-group">
    <b>Price:</b><input
      type="number"
      class="form-control"
      name="price"
      value={{productToUpdate.price}}
      [(ngModel)]="productToUpdate.price"
    />
  </div>
  </form>
  <button (click)="updatedName(productToUpdate)">Update</button>
  <button (click)=editModel(productToUpdate) >Back</button>
</div>
</div>
